@font-face {
  font-family: 'HelveticaNowDisplay-Regular';
  src: url('Fuentes/HelveticaNowDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Fuentes/Montserrat-Bold.ttf') format('truetype');
}

.nav h1{
  font-family: Montserrat-Bold, sans-serif;
}


/*-----------------------------------------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}



/*-----------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  nav {
    background-color: #397671;
    color: #fff;
    display: flex;
    align-items: center;
    height: 0.65%;
    padding: 0.4%;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
  }
  .nav-imagen {
    color: #fff;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 600;
    width: 3%;
  }

  nav a:hover {
    color: #ff0;
  }

  nav img {
    width: 80%;
    border-radius: 50%;
  }

  nav h1 {
    margin: 0;
    font-size: 170%;
  }

  nav .nav-right {
    margin-left: auto;
  }

  .nav-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-right ul li {
    margin-right: 20px;
  }

  .nav-right ul li:last-child {
    margin-right: 0;
  }

  .nav-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  #nav-toggle{
    display: none;
  }
  /*-----------------------------------------------------------------------------------------------------------*/
  header {
    background-color: #e5d9cc;
    color: #397671;
    padding: 0.73%;
    margin-top: 1.83%;
  }

  .banner {
    display: flex;
    align-items: center;
    margin-left: 5.1%;
    margin-right: 9.14%;
    flex-direction: row;
  }

  .banner h1 {
    display: flex;
    align-items: center;
    margin: 0;
    width: 14.6%;
  }

  .banner h1 span {
    font-size: 310%;
  }

  .banner h4 {
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 43.8%;
    margin-left: 55px;
    width: 200%;
    color: black;
  }

  .banner-rectangulo {
    background-color: #397671;
    width: 25.22%;
    height: 120px;
    border-radius: 20px;
    margin-left: auto;
  }
  .banner-title {
    width: 14.6%;
    margin-right: 14.6%;
  }
  .banner-rectangulo-texto h6 {
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 5%;
  }
  .banner-rectangulo-fecha h2 {
    color: white;
    margin-top: 0px;
    margin-left: 15px;
  }

  /*-----------------------------------------------------------------------------------------------------------*/
  .container {
    display: flex;
  }
  .container-body {
    width: 90%;
  }
  .container-arriba {
    padding: 1%;
    margin-top: 1.83%;
    margin: 0;
    display: flex;
    height: auto;
  }
  .container-arriba-izquierda {
    display: block;
    width: 60%;
  }
  .container-titulo {
    background-color: #397671;
    border-radius: 10px;
    display: flex;
    margin-left: 1%;
    height: 45px;
    width: 100%;
  }
  .container-titulo h1 {
    color: white;
    font-size: 160%;
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: 2%;
  }

  .container-ponentes {
    display: flex;
    margin-top: 5%;
    margin-left: 1%;
    width: 100%;
  }

  .container-ponentes div {
    background-color: #cedbd9;
    color: black;
    border-radius: 10px;
    font-size: 50%;
    width: 33.3%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-left: 2%;
  }

  .container-ponentes img {
    margin-top: 10%;
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .container-ponentes p {
    font-size: 160%;
    text-align: justify;
    margin: 10%;
  }

  .container-imagen {
    display: flex;
    width: 40%;
    margin-left: 5%;
  }

  .container-imagen img {
    display: flex;
    border-radius: 5%;
    width: 100%;
  }
  .container-publicidad {
    display: flex;
    height: auto;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 10%;
  }
  .container-publicidad a {
    display: flex;
    float: right;
  }
  .container-publicidad img {
    display: flex;
    float: right;
    width: 100%;
  }

  .container-abajo {
    display: flex;
    width: 100%;
    margin-left: 3%;
    padding: 0px;
    margin-right: 0px;
  }

  .container-abajo-izquierda {
    width: 60%;
    display: block;
  }

  .container-abajo-izquierda div {
    border-radius: 10px;
    height: auto;
    margin-top: 2%;
    background-color: #397671;
    display: flex;
    align-items: center;
  }
  .container-abajo-izquierda img {
    margin: 2%;
    border-radius: 10px;
    width: 60%;
    height: 150px;
  }

  .container-abajo-izquierda p {
    color: white;
    margin-left: 3%;
    border-radius: 10px;
    width: 40%;
    height: 10%;
  }
  .container-abajo-derecha {
    align-items: center;
    background-color: #397671;
    color: white;
    border-radius: 20px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 4%;
    width: 40%;
    height: auto;
  }
  .container-abajo-derecha p {
    font-size: 80%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .container-abajo-derecha h1 {
    margin: 3%;
  }

  /*-----------------------------------------------------------------------------------------------------------*/

  footer {
    display: flex;
    align-items: flex-end;
    padding: 0%;
    background-color: #e5d9cc;
    margin-bottom: 0%;
    margin-top: 1%;
    height: 90px;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0%;
  }

  .siguenos {
    margin-bottom: 0%;
    margin-left: 2%;
    width: 33.3%;
  }

  .siguenos img {
    width: 6%;
    height: auto;
    margin-top: 0%;
    margin-bottom: 3%;
  }
  .siguenos h4 {
    margin-top: 0%;
    margin-bottom: 4%;
  }
  .redes-sociales a {
    margin-top: 0%;
    margin-right: 10px;
  }

  .copy {
    text-align: center;
    width: 33.3%;
    margin-bottom: 0%;
  }
  .copy p {
    margin-bottom: 3%;
  }

  .desarrollado {
    align-items: end;
    text-align: right;
    width: 33.3%;
    margin-bottom: 0%;
    margin-right: 2%;
  }
  .desarrollado h4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .desarrollado p {
    font-size: 70%;
    margin-top: 0%;
    margin-bottom: 3%;
  }
}
/*-----------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    width: 100%;
    background-color: #397671;
    color: #fff;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    position: relative;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
  }
  .nav-imagen {
    color: #fff;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 600;
    width: 3%;
  }

  nav a:hover {
    color: #ff0;
  }

  nav img {
    width: 80%;
    border-radius: 50%;
  }

  nav h1 {
    margin: 0;
    font-size: 170%;
  }

  nav .nav-right {
    background-color: #397671;
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    top: 40px;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .nav-right {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    text-align: center;
  }

  .nav-right ul {
    flex-direction: column;
  }

  .nav-right ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-icon {
    display: block;
  }

  #nav-toggle:checked ~ .nav-right {
    display: block;
  }
  #nav-toggle {
    display: none;
  }

  /*-----------------------------------------------------------------------------------------------------------*/
  header {
    color: #397671;
    margin-top: 1rem;
  }

  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .banner .banner-title h1 {
    background-color: #e5d9cc;
    width: 100%;
    padding: 5px 0px 5px 0px;
    justify-content: center;
    font-size: 300%;
  }

  .banner .banner-title h1 span {
    font-size: 310%;
    margin-left: 4rem;
    font-size: 300%;
  }
  .banner h1 {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .banner h4 {
    position: absolute;
    font-size: 0.7em;
    text-align: center;
    top: 0;
    margin-top: 0px;
    width: 100%;
    color: rgb(88, 88, 88);
  }

  .banner-rectangulo {
    background-color: #397671;
    width: 80%;
    margin: auto;
    height: 120px;
    border-radius: 20px;
    align-items: center;
  }
  .banner-title {
    width: 100%;
    margin-right: 14.6%;
  }
  .banner-rectangulo-texto h6 {
    color: white;
    font-size: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 33.3%;
  }
  .banner-rectangulo-fecha h2 {
    color: white;
    font-size: 150%;
    margin-top: 0px;
    margin-left: 33.3%;
  }

  /*-----------------------------------------------------------------------------------------------------------*/
  .container {
    display: flex;
  }
  .container-body {
    width: 100%;
  }
  .container-arriba {
    padding: 1%;
    margin-top: 1.83%;
    margin: 0;
    display: block;
    height: auto;
  }
  .container-arriba-izquierda {
    display: block;
    width: 100%;
  }
  .container-titulo {
    background-color: #397671;
    border-radius: 10px;
    display: flex;
    margin-left: 1%;
    height: 45px;
    width: 100%;
  }
  .container-titulo h1 {
    color: white;
    font-size: 160%;
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: 33.3%;
  }

  .container-ponentes {
    display: flex;
    margin-top: 5%;
    margin-left: 1%;
    width: 100%;
  }

  .container-ponentes div {
    background-color: #cedbd9;
    color: black;
    border-radius: 10px;
    font-size: 50%;
    width: 33.3%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
  }

  .container-ponentes img {
    margin-top: 10%;
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .container-ponentes p {
    font-size: 16px;
    text-align: justify;
    margin: 10%;
  }

  .container-imagen {
    display: flex;
    width: 40%;
    margin-left: 5%;
  }

  .container-imagen img {
    display: none;
  }
  .container-publicidad {
    display: none;
    height: auto;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 10%;
  }
  .container-publicidad a {
    display: flex;
    float: right;
  }
  .container-publicidad img {
    display: flex;
    float: right;
    width: 100%;
  }

  .container-abajo {
    display: flex;
    width: 95%;
    margin-left: 3%;
    margin-right: 0%;
  }

  .container-abajo-izquierda {
    width: 100%;
    display: block;
    margin-right: 0%;
  }

  .container-abajo-izquierda div {
    border-radius: 10px;
    height: auto;
    margin-top: 2%;
    background-color: #397671;
    display: flex;
    align-items: center;
  }
  .container-abajo-izquierda img {
    margin: 2%;
    border-radius: 10px;
    width: 60%;
    height: 150px;
  }

  .container-abajo-izquierda p {
    color: white;
    margin-left: 3%;
    border-radius: 10px;
    width: 40%;
    height: 10%;
  }
  .container-abajo-derecha {
    display: none;
    align-items: center;
    background-color: #397671;
    color: white;
    border-radius: 20px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 4%;
    width: 40%;
    height: auto;
  }
  .container-abajo-derecha p {
    font-size: 80%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .container-abajo-derecha h1 {
    margin: 3%;
  }

  /*-----------------------------------------------------------------------------------------------------------*/

  footer {
    display: flex;
    align-items: flex-end;
    padding: 0%;
    background-color: #e5d9cc;
    margin-bottom: 0%;
    margin-top: 1%;
    height: 90px;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0%;
  }

  .siguenos {
    margin-bottom: 0%;
    margin-left: 2%;
    width: 33.3%;
  }

  .siguenos img {
    width: 6%;
    height: auto;
    margin-top: 0%;
    margin-bottom: 3%;
  }
  .siguenos h4 {
    margin-top: 0%;
    margin-bottom: 4%;
  }
  .redes-sociales a {
    margin-top: 0%;
    margin-right: 10px;
  }

  .copy {
    text-align: center;
    width: 33.3%;
    margin-bottom: 0%;
  }
  .copy p {
    margin-bottom: 3%;
  }

  .desarrollado {
    align-items: end;
    text-align: right;
    width: 33.3%;
    margin-bottom: 0%;
    margin-right: 2%;
  }
  .desarrollado h4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .desarrollado p {
    font-size: 70%;
    margin-top: 0%;
    margin-bottom: 3%;
  }
}
/*-----------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  nav {
    width: 100%;
    background-color: #397671;
    color: #fff;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    position: relative;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
  }
  .nav-imagen {
    color: #fff;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    font-weight: 600;
    width: 3%;
  }

  nav a:hover {
    color: #ff0;
  }

  nav img {
    width: 80%;
    border-radius: 50%;
  }

  nav h1 {
    margin: 0;
    font-size: 170%;
  }

  nav .nav-right {
    background-color: #397671;
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    top: 40px;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .nav-right {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    text-align: center;
  }

  .nav-right ul {
    flex-direction: column;
  }

  .nav-right ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-icon {
    display: block;
  }

  #nav-toggle:checked ~ .nav-right {
    display: block;
  }
  #nav-toggle {
    display: none;
  }

  /*-----------------------------------------------------------------------------------------------------------*/
  header {
    color: #397671;
    margin-top: 1rem;
  }

  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .banner .banner-title h1 {
    background-color: #e5d9cc;
    width: 100%;
    padding: 5px 0px 5px 0px;
  }

  .banner .banner-title h1 span {
    font-size: 310%;
    margin-left: 4rem;
  }
  .banner h1 {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .banner h4 {
    position: absolute;
    font-size: 0.7em;
    text-align: center;
    top: 0;
    margin-top: 0px;
    width: 100%;
    color: rgb(88, 88, 88);
  }

  .banner-rectangulo {
    background-color: #397671;
    width: 40%;
    margin: auto;
    height: 120px;
    border-radius: 20px;
  }
  .banner-title {
    width: 100%;
    margin-right: 14.6%;
  }
  .banner-rectangulo-texto h6 {
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 5%;
  }
  .banner-rectangulo-fecha h2 {
    color: white;
    margin-top: 0px;
    margin-left: 15px;
  }

  /*-----------------------------------------------------------------------------------------------------------*/
  .container {
    display: grid;
    place-items: center;
  }
  .container-body {
    width: 90%;
  }
  .container-arriba {
    padding: 1%;
    margin-top: 1.83%;
    margin: 0;
    display: flex;
    height: auto;
  }
  .container-arriba-izquierda {
    display: block;
    width: 100%;
  }
  .container-titulo {
    display: none;
  }
  .container-titulo h1 {
    display: none;
  }

  .container-ponentes {
    display: flex;
    margin-top: 5%;
    margin-left: 1%;
    width: 100%;
  }

  .container-ponentes div {
    color: black;
    border-radius: 10px;
    font-size: 50%;
    width: 33.3%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-left: 2%;
  }

  .container-ponentes img {
    margin-top: 10%;
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .container-ponentes p {
    font-size: 15px;
    text-align: justify;
    margin: 10%;
  }

  .container-imagen {
    display: none;
  }

  .container-imagen img {
    display: flex;
    border-radius: 5%;
    width: 100%;
  }
  .container-publicidad {
    display: none;
  }
  .container-publicidad a {
    display: none;
  }
  .container-publicidad img {
    display: none;
  }

  .container-abajo {
    display: none;
  }

  .container-abajo-izquierda {
    display: none;
  }

  .container-abajo-izquierda div {
    display: none;
  }
  .container-abajo-izquierda img {
    display: none;
  }

  .container-abajo-izquierda p {
    display: none;
  }
  .container-abajo-derecha {
    display: none;
  }
  .container-abajo-derecha p {
    display: none;
  }
  .container-abajo-derecha h1 {
    display: none;
  }

  /*-----------------------------------------------------------------------------------------------------------*/

  footer {
    display: flex;
    align-items: flex-end;
    padding: 0%;
    background-color: #e5d9cc;
    margin-bottom: 0%;
    margin-top: 1%;
    height: 90px;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0%;
  }

  .siguenos {
    margin-bottom: 0%;
    margin-left: 2%;
    width: 33.3%;
  }

  .siguenos img {
    width: 10%;
    height: auto;
    margin-top: 0%;
    margin-bottom: 3%;
  }
  .siguenos h4 {
    margin-top: 0%;
    margin-bottom: 4%;
  }
  .redes-sociales a {
    margin-top: 0%;
    margin-right: 10px;
  }

  .copy {
    text-align: center;
    width: 33.3%;
    margin-bottom: 0%;
  }
  .copy p {
    margin-bottom: 3%;
  }

  .desarrollado {
    align-items: end;
    text-align: right;
    width: 33.3%;
    margin-bottom: 0%;
    margin-right: 2%;
  }
  .desarrollado h4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .desarrollado p {
    font-size: 70%;
    margin-top: 0%;
    margin-bottom: 3%;
  }
}
